@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --nextui-primary-100: 205 96% 90%;
  --nextui-primary-200: 207 98% 81%;
  --nextui-primary-300: 210 99% 71%;
  --nextui-primary-400: 212 99% 64%;
  --nextui-primary-500: 215 99% 52%;
  --nextui-primary-600: 218 93% 44%;
  --nextui-primary-700: 220 95% 37%;
  --nextui-primary-800: 223 96% 29%;
  --nextui-primary-900: 225 97% 24%;
  --nextui-primary-foreground: 0 0% 100% ;
  --nextui-primary: 215 99% 52%;
}


@layer components {
  .section {
    @apply container mx-auto max-w-7xl px-6;
  }
} 